<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header"><h4>Search</h4></div>
        <div class="card-body">
          <app-pokemon-search
            (showPokemonDetails)="showPokemonDetails($event)"
          ></app-pokemon-search>
        </div>
      </div>

      <app-pokemon-list
        [itemsPerPage]="itemsPerPage$ | async"
        [pokemonList]="pokemonList$ | async"
        [totalPokemons]="totalPokemons$ | async"
        (showPokemonDetails)="showPokemonDetails($event)"
      ></app-pokemon-list>
    </div>
    <div class="col-md-8">
      <app-pokemon-detail
        [pokemonData]="pokemonData$ | async"
        [errorMessage]="errorMessage$ | async"
      ></app-pokemon-detail>
    </div>
  </div>
</div>
